

<h2>{{post.title}}</h2>
<p>{{post.content}}</p>

{{#each post.comments as |comment|}}
<div class="card">
    <p class="card-text">comment from: {{comment.user.username}}</p>
    <p class="card-text">{{comment.comment}}</p>
   
</div>

{{/each}}